<div class="user">
    <div class="user-image">
        <img src="<%= user.photo %>" alt="<%= user.name %>" />
    </div>
    <div class="user-info border">
        <h2>User Name: <%= link_to user.name, user_path(user) %></h2>
        <p>Number of posts: <%= link_to user.posts.count, user_posts_path(user) %></p>
    </div>
</div>
