<h1>Below is the list of posts for a user</h1>
<%= render partial:'shared/user', locals: {user: @user} %>
<% @user_posts.each do |post| %>
<%= render partial:'shared/post', locals: {post: post} %>
<ul class="comments-ul">
      <% post.recent_comments.each do |comment| %>
        <li><%= comment.user.name %>: <%= comment.text %>
      <% end %>
      </ul>
<% end %>

<button class="see-all">Pagination</button>
