

.posts {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  padding: 12px;
  margin-top: 10px;
  border: 2px solid #000;
}

.post-title,
a {
  color: #000;
  text-decoration: none !important;
  text-transform: capitalize;
}

.post-infor {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}

.comments-ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: auto;
  height: auto;
  padding: 12px;
  margin-top: 10px;
  border: 2px solid #000;
  list-style: none;
}

.post {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  padding: 12px;
  margin-top: 10px;
  border: 2px solid #000;
}

.post-owner {
  text-transform: capitalize;
}

.owner-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
}

.new_like {
  border: none;
}

.fa-thumbs-up {
  font-size: 20px;
  color: blue;
  margin-top: 10px;
}

.like_btn {
  border: none;
}

.see-all-post-btn {
  margin-top: 10px;
  border: 1px solid #000;
  padding: 5px;
  box-shadow: 4px 4px 4px;
  font-size: 15px;
  font-weight: 500;
  text-decoration: none;
}
